/********************* globals styles *****************************/
a {
  cursor: pointer;
  text-decoration: none;
}

/**** target current page for active state ***/
.target {
  color: var(--clr-primary-300);
  background-color: var(--clr-primary-200);
  padding: 5px;
}

/* Add background color  and padding to top navbar */
.c-menu {
  /*   background-color: var(--clr-primary-100); */
  padding: 20px;
  z-index: 1000;
  background: rgba(14, 15, 14, 0.5);
  background-color: rgba(14, 15, 14, 0.5);
}

/* Hide menu items for mobile view */
.c-menu a:not(:first-child) {
  display: none;
}

/* Hide sidebar for mobile view */
.c-menu__sidebarNav {
  display: none;
}

/* positioning hamburger icon to right */
.c-menu a.icon {
  float: right;
  display: block;
}

/****************************************************************/

/***** Top navbar styles for mobile **********/

/* positioning and adding paddding to topnavbar */
.menu__responsive {
  position: relative;
  background: rgba(14, 15, 14, 0.5);
  background-color: rgba(14, 15, 14, 0.5);
  padding: 20px;
  z-index: 1000;
}

/* positioning hamburger icon */
.menu__responsive .icon {
  position: absolute;
  right: 20px;
  top: 20px;
}
/* positioning menu links */
.menu__responsive a {
  float: none;
  display: block;
  text-align: left;
}

/* Adding margin to the menu items */
.menu__responsive a:nth-child(2) {
  margin-top: 20px;
}

/************** Side navbar styles for mobile ********************/

/* position sidenavbar menu items to left */
.menu__responsive .sidebarNav__subheading {
  float: none;
  display: block;
  text-align: left;
}

/* Initially hiding sidenavbar menu items */
.menu__sidebarNavResponsive p,
.menu__sidebarNavResponsive a {
  display: none;
}

/* Adding color and width to sidenavbar */
.menu__sidebarNavResponsive {
  position: relative;
  width: 100%;
  background-color: var(--clr-primary-100);
}

/* positioning links of sidenavbar */
.menu__sidebarNavResponsive a,
.menu__sidebarNavResponsive .sidebarNav__subheading {
  float: none;
  display: block;
  text-align: left;
}

/* Assigning flex type and its properties to the sidenavbar */
.menu__sidebarNavResponsive {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--clr-primary-100);
  padding-left: 20px;
  padding-bottom: 20px;
}

/* Adding margin to the subheading of sidenavbar */
.menu__sidebarNavResponsive .sidebarNav__subheading {
  margin: 10px 0px;
  display: block;
}

/* Change color on hover over menu items */
.menu__responsive a:hover,
.menu__sidebarNavResponsive a:hover {
  color: var(--clr-primary-300);
  transform: scale(1.1);
}

/* setting flex type and its properties to the main container*/
.o-mainContainer {
  display: flex;
  flex-direction: column;
}
/************ color swatch styles*********************/

/* Set flex properties for swatch container to display color swatches*/
.c-swatchContainer__swatch {
  margin: 20px;
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--clr-primary-400);
  border-radius: 20px;
  text-align: center;
  padding-bottom: 20px;
}

/* Setting width, height and other properties of swatch box*/
.c-swatch__colorBox {
  height: 200px;
  width: 400px;
  border: 1px solid var(--clr-primary-400);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

/* Add margin to swatch container */
.c-swatch__attributes {
  margin-top: 20px;
}
/************* typography styles ********************/

/* Add margin to typography container */
.c-typographyContainer__fonts {
  margin: 20px;
}

/* Add background color to typography container */
.background {
  color: var(--clr-secondary-300);
}

/* Add width and border properties for table */
.c-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--clr-primary-400);
}

/* Add padding and positioning for table content */
th,
td {
  text-align: left;
  padding: 8px;
}

/* Add different color for alternate rows in table */
tr:nth-child(even) {
  background-color: var(--clr-accent-100);
}

/* Set color for table headings */
th {
  background-color: var(--clr-primary-300);
  color: var(--clr-secondary-200);
}

/* Add margin for displayed utility classes and fonts */
.c-utilityClasses,
.c-fonts {
  margin: 20px;
}

/*********************************/

/************************ Styles for Desktop View *********************/
@media screen and (min-width: 1200px) {
  /***** Top navbar styles for  desktop **********/

  /* Add padding for topnavbar */
  .c-menu {
    padding: 20px;
    overflow: hidden;
  }

  /* Display and position menu items */
  .c-menu a:not(:first-child) {
    display: block;
    float: right;
    padding: 0px 16px;
    font-size: 17px;
  }

  /* Hide hamburger icon */
  .c-menu a.icon {
    display: none;
  }

  /* Add Hover state for menu items */
  .c-menu a:hover {
    color: var(--clr-primary-300);
    transform: scale(1.1);
  }

  /***** Side navbar styles for  desktop **********/

  /* Add padding for topnavbar */
  .c-menu__sidebarNav a:hover {
    color: var(--clr-primary-300);
    transform: scale(1.1);
  }

  /* Assigning flex type to sidenavbar and other properties*/
  .c-menu__sidebarNav {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: var(--clr-primary-100);
    padding-left: 20px;
    padding-bottom: 20px;
    height: 100vw;
  }

  /* Position menu items for sidenavbar*/
  .c-menu__sidebarNav a {
    float: left;
    display: inline;
    width: auto;
    padding-left: 0px;
  }

  /* Add margins for subheadings in sidenavbar*/
  .sidebarNav__subheading {
    margin: 10px 0px;
    display: block;
  }

  /* Assign flex type to main container*/
  .o-mainContainer {
    display: flex;
    flex-direction: row;
  }
  .o-swatchContainer {
    display: flex;
    width: 900px;

    flex-direction: column;
  }

  .c-swatchContainer__combo {
    display: flex;
    flex-direction: row;
  }
}

.c-makeSnippet {
  border: 1px solid var(--clr-secondary-100);
}

.u-example {
  margin-top: -100px;
}

pre {
  background-color: var(--clr-primary-200);
  padding: 20px;
  border-radius: 10px;
}
