/****** globals styles ***/
a {
  cursor: pointer;
  text-decoration: none;
}

/**** target current page for active state ***/
:target {
  color: var(--clr-secondary);
  background-color: var(--clr-lighter);
}

.c-menu {
  background-color: var(--clr-light);
  padding: 20px;
}
.c-menu a:not(:first-child) {
  display: none;
}

.c-menu__sidebarNav {
  display: none;
}
.c-menu a.icon {
  float: right;
  display: block;
}

/********************/

/***** Top navbar styles for mobile **********/
.menu__responsive {
  position: relative;
  background-color: var(--clr-light);
  padding: 20px;
}
.menu__responsive .icon {
  position: absolute;
  right: 20px;
  top: 20px;
}
.menu__responsive a {
  float: none;
  display: block;
  text-align: left;
}

.menu__responsive a:nth-child(2) {
  margin-top: 20px;
}

/***** Side navbar styles for mobile **********/
.menu__responsive .sidebarNav__subheading {
  float: none;
  display: block;
  text-align: left;
}

.menu__sidebarNavResponsive p,
.menu__sidebarNavResponsive a {
  display: none;
}
.menu__sidebarNavResponsive {
  position: relative;
  width: 100%;
  background-color: var(--clr-light);
}

.menu__sidebarNavResponsive a {
  float: none;
  display: block;
  text-align: left;
}

.menu__sidebarNavResponsive .sidebarNav__subheading {
  float: none;
  display: block;
  text-align: left;
}

.menu__sidebarNavResponsive {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--clr-light);
  padding-left: 20px;
  padding-bottom: 20px;
}

.menu__sidebarNavResponsive .sidebarNav__subheading {
  margin: 10px 0px;
  display: block;
}

.menu__responsive a:hover {
  background-color: var(--clr-lighter);
  color: var(--clr-primary);
}
.menu__sidebarNavResponsive a:hover {
  background-color: var(--clr-lighter);
  color: var(--clr-primary);
}

/************ color swatch styles*********************/

/*********************************/

@media screen and (min-width: 550px) {
  /***** Top navbar styles for  desktop **********/
  .c-menu {
    padding: 20px;
    overflow: hidden;
  }

  .c-menu a:not(:first-child) {
    display: block;
    float: right;

    padding: 0px 16px;
    font-size: 17px;
  }

  .c-menu a.icon {
    display: none;
  }
  .c-menu a:hover {
    background-color: var(--clr-lighter);
    color: var(--clr-primary);
  }

  /***** Side navbar styles for  desktop **********/
  .c-menu__sidebarNav a:hover {
    background-color: var(--clr-lighter);
    color: var(--clr-primary);
  }

  .c-menu__sidebarNav {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: var(--clr-light);
    padding-left: 20px;
    padding-bottom: 20px;
    height: 100vw;
  }

  .c-menu__sidebarNav a {
    float: left;
    display: inline;
    width: auto;
    padding-left: 0px;
  }

  .sidebarNav__subheading {
    margin: 10px 0px;
    display: block;
  }
}
