/****** globals styles ***/
a {
  cursor: pointer;
  text-decoration: none;
}

/**** target current page for active state ***/
:target {
  color: var(--clr-secondary);
  background-color: var(--clr-lighter);
}

.c-menu {
  background-color: var(--clr-light);
  padding: 20px;
}
.c-menu a:not(:first-child) {
  display: none;
}

.c-menu__sidebarNav {
  display: none;
}
.c-menu a.icon {
  float: right;
  display: block;
}

/********************/

/***** Top navbar styles for mobile **********/
.menu__responsive {
  position: relative;
  background-color: var(--clr-light);
  padding: 20px;
}
.menu__responsive .icon {
  position: absolute;
  right: 20px;
  top: 20px;
}
.menu__responsive a {
  float: none;
  display: block;
  text-align: left;
}

.menu__responsive a:nth-child(2) {
  margin-top: 20px;
}
