/***** Variables ******/

:root {
  /* Main background color */
  --clr-primary-100: #f5fcf4;

  /* Color used for cards, inputs and other smaller section backgrounds */
  --clr-primary-200: #d6e5d8;

  /* Color for buttons */
  --clr-primary-300: #26643b;

  /* Color for borders and highlights */
  --clr-primary-400: #d4e7c5;

  /* Color for texts on pages like h1, h2, p and other content tags */
  --clr-secondary-100: #3b413a;

  /* Text for button */
  --clr-secondary-200: #ffff;

  /* For icons and other smaller items*/
  --clr-accent-100: #e8e8e8;

  /*** font variables **/
  --heading-font-family: "Roboto", sans-serif;
  --body-font-family: "Montserrat", sans-serif;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-normal: 400;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-p: 1rem;
}

/******** Resets ************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
img {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
}

a {
  text-decoration: none;
}
.sidebarNav__active {
  color: var(--clr-secondary-200);
}

/* Utility Classes */
.u-ff-serif {
  font-family: var(--heading-font-family);
}

.u-ff-sans {
  font-family: var(--body-font-family);
}

.u-fw-bold {
  font-weight: var(--font-weight-bold);
}

.u-fw-extra-bold {
  font-weight: var(--font-weight-extra-bold);
}

.u-fw-normal {
  font-weight: var(--font-weight-normal);
}

.u-fs-h1 {
  font-size: var(--font-size-h1);
}

.u-fs-h2 {
  font-size: var(--font-size-h2);
}

.u-fs-h3 {
  font-size: var(--font-size-h3);
}

.u-fs-p {
  font-size: var(--font-size-p);
}

/*** utiltiy classes font-weights **/
.u-fw-100 {
  font-weight: 100;
}
.u-fw-200 {
  font-weight: 200;
}
.u-fw-300 {
  font-weight: 300;
}
.u-fw-400 {
  font-weight: 400;
}
.u-fw-500 {
  font-weight: 500;
}
.u-fw-600 {
  font-weight: 600;
}
.u-fw-700 {
  font-weight: 700;
}
.u-fw-800 {
  font-weight: 800;
}
.u-fw-900 {
  font-weight: 900;
}

/** utility classes for colors ****/

.u-background-main {
  background-color: var(--clr-primary-100);
}

.u-background-sec {
  background-color: var(--clr-primary-200);
}

.u-background-btn {
  background-color: var(--clr-primary-300);
}

.u-border {
  background-color: var(--clr-primary-400);
}

.u-accent-1 {
  background-color: var(--clr-accent-100);
}

.u-text-sec {
  color: var(--clr-primary-300);
}

.u-text-main {
  color: var(--clr-secondary-100);
}

.u-text-btn {
  color: var(--clr-secondary-200);
}
.u-bkd-black {
  background-color: var(--clr-secondary-100);
}

.u-maintext-bkd {
  background-color: var(--clr-secondary-100);
}

.u-btntext-bkd {
  background-color: var(--clr-secondary-200);
}
