/***** Variables ******/

:root {
  /* Main background color */
  --clr-primary-100: #f5fcf4;

  /* Color used for cards, inputs and other smaller section backgrounds */
  --clr-primary-200: #d6e5d8;

  /* Color for buttons */
  --clr-primary-300: #26643b;

  /* Color for borders and highlights */
  --clr-primary-400: #d4e7c5;

  /* Color for texts on pages like h1, h2, p and other content tags */
  --clr-secondary-100: #3b413a;

  /* Text for button */
  --clr-secondary-200: #ffff;

  /* For icons and other smaller items*/
  --clr-accent-100: #e8e8e8;

  /*** font variables **/
  --heading-font-family: "Roboto", sans-serif;
  --body-font-family: "Montserrat", sans-serif;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-normal: 400;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-p: 1rem;
  --font-sm: 13px;
}

/******** Resets ************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  line-height: 1.5rem;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
img {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
}

/* set text-decoration to none for links */
a {
  text-decoration: none;
}

/* set color to active link */
.sidebarNav__active {
  color: var(--clr-secondary-200);
}

/* Utility Classes */

/* class for Roboto font */
.u-ff-serif {
  font-family: var(--heading-font-family);
}

/* class for Montserrat font */
.u-ff-sans {
  font-family: var(--body-font-family);
}

/* utility class for bold fonts */
.u-fw-bold {
  font-weight: var(--font-weight-bold);
}

/* utility class for extra-bold font */
.u-fw-extra-bold {
  font-weight: var(--font-weight-extra-bold);
}

/* utility class for normal font weight */
.u-fw-normal {
  font-weight: var(--font-weight-normal);
}

/* utility class to give h1 font-size */
.u-fs-h1 {
  font-size: var(--font-size-h1);
}

/* utility class to give h2 font-size */
.u-fs-h2 {
  font-size: var(--font-size-h2);
}

/* utility class to give h3 font-size */
.u-fs-h3 {
  font-size: var(--font-size-h3);
}

/* utility class to give p font-size */
.u-fs-p {
  font-size: var(--font-size-p);
}

/* utility class to give small font-size */
.u-fs-small {
  font-size: var(--font-sm);
}

/*** utiltiy classes  for different font-weights  **/

/*** lightest font-weight ***/
.u-fw-100 {
  font-weight: 100;
}
.u-fw-200 {
  font-weight: 200;
}
.u-fw-300 {
  font-weight: 300;
}
.u-fw-400 {
  font-weight: 400;
}
.u-fw-500 {
  font-weight: 500;
}
.u-fw-600 {
  font-weight: 600;
}
.u-fw-700 {
  font-weight: 700;
}
.u-fw-800 {
  font-weight: 800;
}

/*** Heaviest font-weight ***/
.u-fw-900 {
  font-weight: 900;
}

/** utility classes for colors ****/

/** utility classes for main background color ****/
.u-background-main {
  background-color: var(--clr-primary-100);
}

/** utility classes for secondary background color ****/
.u-background-sec {
  background-color: var(--clr-primary-200);
}

/** utility classes for buttons color ****/
.u-background-btn {
  background-color: var(--clr-primary-300);
}

/** utility classes for border color ****/
.u-border {
  background-color: var(--clr-primary-400);
}

/** utility classes for accent color ****/
.u-accent-1 {
  background-color: var(--clr-accent-100);
}

/** utility classes for secondary text color ****/
.u-text-sec {
  color: var(--clr-primary-300);
}

/** utility classes for main text color ****/
.u-text-main {
  color: var(--clr-secondary-100);
}

/** utility classes for buttons text color ****/
.u-text-btn {
  color: var(--clr-secondary-200);
}

/** utility classes for black background ****/
.u-bkd-black {
  background-color: var(--clr-secondary-100);
}

/** utility classes to show  main text color on swatches****/
.u-maintext-bkd {
  background-color: var(--clr-secondary-100);
}

/** utility classes to show  button text color on swatches****/
.u-btntext-bkd {
  background-color: var(--clr-secondary-200);
}

/****** Spacing utility classes ************** */

/* Margin classes */

.l-m-0-25 {
  margin: 0.25rem; /* 4px */
}

.l-m-0-5 {
  margin: 0.5rem; /* 8px */
}

.l-m-0-75 {
  margin: 0.75rem; /* 12px */
}

.l-m-1 {
  margin: 1rem; /* 16px */
}

.l-m-1-25 {
  margin: 1.25rem; /* 20px */
}

.l-m-1-5 {
  margin: 1.5rem; /* 24px */
}

.l-m-1-75 {
  margin: 1.75rem; /* 28px */
}

.l-m-2 {
  margin: 2rem; /* 32px */
}

.l-m-2-25 {
  margin: 2.25rem; /* 36px */
}

.l-m-2-5 {
  margin: 2.5rem; /* 40px */
}

.l-m-2-75 {
  margin: 2.75rem; /* 44px */
}

.l-m-3 {
  margin: 3rem; /* 48px */
}

.l-m-3-25 {
  margin: 3.25rem; /* 52px */
}

.l-m-3-5 {
  margin: 3.5rem; /* 56px */
}

.l-m-3-75 {
  margin: 3.75rem; /* 60px */
}

.l-m-4 {
  margin: 4rem; /* 64px */
}

.l-m-4-25 {
  margin: 4.25rem; /* 68px */
}

.l-m-4-5 {
  margin: 4.5rem; /* 72px */
}

.l-m-4-75 {
  margin: 4.75rem; /* 76px */
}

.l-m-5 {
  margin: 5rem; /* 80px */
}

.l-m-5-25 {
  margin: 5.25rem; /* 84px */
}

.l-m-5-5 {
  margin: 5.5rem; /* 88px */
}

.l-m-5-75 {
  margin: 5.75rem; /* 92px */
}

.l-m-6 {
  margin: 6rem; /* 96px */
}

.l-m-6-25 {
  margin: 6.25rem; /* 100px */
}

.l-m-6-5 {
  margin: 6.5rem; /* 104px */
}

.l-m-6-75 {
  margin: 6.75rem; /* 108px */
}

.l-m-7 {
  margin: 7rem; /* 112px */
}

.l-m-7-25 {
  margin: 7.25rem; /* 116px */
}

.l-m-7-5 {
  margin: 7.5rem; /* 120px */
}

.l-m-7-75 {
  margin: 7.75rem; /* 124px */
}

.l-m-8 {
  margin: 8rem; /* 128px */
}

.l-m-8-25 {
  margin: 8.25rem; /* 132px */
}

.l-m-8-5 {
  margin: 8.5rem; /* 136px */
}

.l-m-8-75 {
  margin: 8.75rem; /* 140px */
}

.l-m-9 {
  margin: 9rem; /* 144px */
}

.l-m-9-25 {
  margin: 9.25rem; /* 148px */
}

.l-m-9-5 {
  margin: 9.5rem; /* 152px */
}

.l-m-9-75 {
  margin: 9.75rem; /* 156px */
}

.l-m-10 {
  margin: 10rem; /* 160px */
}

/*********** Padding utility classes *****************/

.l-p-0-25 {
  padding: 0.25rem; /* 4px */
}

.l-p-0-5 {
  padding: 0.5rem; /* 8px */
}

.l-p-0-75 {
  padding: 0.75rem; /* 12px */
}

.l-p-1 {
  padding: 1rem; /* 16px */
}

.l-p-1-25 {
  padding: 1.25rem; /* 20px */
}

.l-p-1-5 {
  padding: 1.5rem; /* 24px */
}

.l-p-1-75 {
  padding: 1.75rem; /* 28px */
}

.l-p-2 {
  padding: 2rem; /* 32px */
}

.l-p-2-25 {
  padding: 2.25rem; /* 36px */
}

.l-p-2-5 {
  padding: 2.5rem; /* 40px */
}

.l-p-2-75 {
  padding: 2.75rem; /* 44px */
}

.l-p-3 {
  padding: 3rem; /* 48px */
}

.l-p-3-25 {
  padding: 3.25rem; /* 52px */
}

.l-p-3-5 {
  padding: 3.5rem; /* 56px */
}

.l-p-3-75 {
  padding: 3.75rem; /* 60px */
}

.l-p-4 {
  padding: 4rem; /* 64px */
}

.l-p-4-25 {
  padding: 4.25rem; /* 68px */
}

.l-p-4-5 {
  padding: 4.5rem; /* 72px */
}

.l-p-4-75 {
  padding: 4.75rem; /* 76px */
}

.l-p-5 {
  padding: 5rem; /* 80px */
}

.l-p-5-25 {
  padding: 5.25rem; /* 84px */
}

.l-p-5-5 {
  padding: 5.5rem; /* 88px */
}

.l-p-5-75 {
  padding: 5.75rem; /* 92px */
}

.l-p-6 {
  padding: 6rem; /* 96px */
}

.l-p-6-25 {
  padding: 6.25rem; /* 100px */
}

.l-p-6-5 {
  padding: 6.5rem; /* 104px */
}

.l-p-6-75 {
  padding: 6.75rem; /* 108px */
}

.l-p-7 {
  padding: 7rem; /* 112px */
}

.l-p-7-25 {
  padding: 7.25rem; /* 116px */
}

.l-p-7-5 {
  padding: 7.5rem; /* 120px */
}

.l-p-7-75 {
  padding: 7.75rem; /* 124px */
}

.l-p-8 {
  padding: 8rem; /* 128px */
}

.l-p-8-25 {
  padding: 8.25rem; /* 132px */
}

.l-p-8-5 {
  padding: 8.5rem; /* 136px */
}

.l-p-8-75 {
  padding: 8.75rem; /* 140px */
}

.l-p-9 {
  padding: 9rem; /* 144px */
}

.l-p-9-25 {
  padding: 9.25rem; /* 148px */
}

.l-p-9-5 {
  padding: 9.5rem; /* 152px */
}

.l-p-9-75 {
  padding: 9.75rem; /* 156px */
}

.l-p-10 {
  padding: 10rem; /* 160px */
}

/******************************************/

/************** Margin top classes **********/

.l-mt-0-25 {
  margin-left: 0.25rem; /* 4px */
}

.l-mt-0-5 {
  margin-left: 0.5rem; /* 8px */
}

.l-mt-0-75 {
  margin-left: 0.75rem; /* 12px */
}

.l-mt-1 {
  margin-left: 1rem; /* 16px */
}

.l-mt-1-25 {
  margin-left: 1.25rem; /* 20px */
}

.l-mt-1-5 {
  margin-left: 1.5rem; /* 24px */
}

.l-mt-1-75 {
  margin-left: 1.75rem; /* 28px */
}

.l-mt-2 {
  margin-left: 2rem; /* 32px */
}

.l-mt-2-25 {
  margin-left: 2.25rem; /* 36px */
}

.l-mt-2-5 {
  margin-left: 2.5rem; /* 40px */
}

.l-mt-2-75 {
  margin-left: 2.75rem; /* 44px */
}

.l-mt-3 {
  margin-left: 3rem; /* 48px */
}

.l-mt-3-25 {
  margin-left: 3.25rem; /* 52px */
}

.l-mt-3-5 {
  margin-left: 3.5rem; /* 56px */
}

.l-mt-3-75 {
  margin-left: 3.75rem; /* 60px */
}

.l-mt-4 {
  margin-left: 4rem; /* 64px */
}

.l-mt-4-25 {
  margin-left: 4.25rem; /* 68px */
}

.l-mt-4-5 {
  margin-left: 4.5rem; /* 72px */
}

.l-mt-4-75 {
  margin-left: 4.75rem; /* 76px */
}

.l-mt-5 {
  margin-left: 5rem; /* 80px */
}

/**************************/
