/***** Variables ******/

:root {
  --clr-primary-100: #d6e3f8;
  --clr-primary-200: #fef5ef;
  --clr-primary-300: #e4bb97;
  --clr-secondary-100: #f7f0f0;
  --clr-secondary-200: #9d5c63;

  --clr-accent-100: #cbf3f0;
  --clr-accent-200: #2ec4b6;
  --clr-light: #c4c3c3;
  --clr-white: white;
  --clr-lighter: #ddd;

  /*** font variables **/
  --heading-font-family: "Montserrat", sans-serif;
  --body-font-family: "Roboto", sans-serif;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-normal: 400;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-p: 1rem;
}

/******** Resets ************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
img {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
}
