/***** Variables ******/

:root {
  --clr-primary-100: #d6e3f8;
  --clr-primary-200: #fef5ef;
  --clr-primary-300: #e4bb97;
  --clr-secondary: #f7f0f0;
  --clr-accent-100: #cbf3f0;
  --clr-accent-200: #2ec4b6;
  --clr-light: #c4c3c3;
  --clr-white: white;
  --clr-lighter: #ddd;
}

/******** Resets ************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
img {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
}
