/***** Variables ******/

:root {
  /* Main background color */
  --clr-primary-100: #f5fcf4;

  /* Color used for cards, inputs and other smaller section backgrounds */
  --clr-primary-200: #d6e5d8;

  /* Color for buttons */
  --clr-primary-300: #26643b;

  /* Color for borders and highlights */
  --clr-primary-400: #d4e7c5;

  /* Color for texts on pages like h1, h2, p and other content c-tags */
  --clr-secondary-100: #3b413a;

  /* Text for button */
  --clr-secondary-200: #ffff;

  /* For icons and other smaller items*/
  --clr-accent-100: #e8e8e8;

  /*** font variables **/
  --heading-font-family: "Roboto", sans-serif;
  --body-font-family: "Montserrat", sans-serif;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-normal: 400;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-p: 1rem;
  --font-sm: 13px;
}

/******** Resets ************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  line-height: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2.5rem;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
img {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
}

/* set text-decoration to none for links */
a {
  text-decoration: none;
  color: var(--clr-secondary-100);
}

/* set color to active link */
.sidebarNav__active {
  color: var(--clr-secondary-200);
}

/* Utility Classes */

/* class for Roboto font */
.u-ff-serif {
  font-family: var(--heading-font-family);
}

/* class for Montserrat font */
.u-ff-sans {
  font-family: var(--body-font-family);
}

/* utility class for bold fonts */
.u-fw-bold {
  font-weight: var(--font-weight-bold);
}

/* utility class for extra-bold font */
.u-fw-extra-bold {
  font-weight: var(--font-weight-extra-bold);
}

/* utility class for normal font weight */
.u-fw-normal {
  font-weight: var(--font-weight-normal);
}

/* utility class to give h1 font-size */
.u-fs-h1 {
  font-size: var(--font-size-h1);
}

/* utility class to give h2 font-size */
.u-fs-h2 {
  font-size: var(--font-size-h2);
}

/* utility class to give h3 font-size */
.u-fs-h3 {
  font-size: var(--font-size-h3);
}

/* utility class to give p font-size */
.u-fs-p {
  font-size: var(--font-size-p);
}

/* utility class to give small font-size */
.u-fs-small {
  font-size: var(--font-sm);
}

/*** utiltiy classes  for different font-weights  **/

/*** lightest font-weight ***/
.u-fw-100 {
  font-weight: 100;
}
.u-fw-200 {
  font-weight: 200;
}
.u-fw-300 {
  font-weight: 300;
}
.u-fw-400 {
  font-weight: 400;
}
.u-fw-500 {
  font-weight: 500;
}
.u-fw-600 {
  font-weight: 600;
}
.u-fw-700 {
  font-weight: 700;
}
.u-fw-800 {
  font-weight: 800;
}

/*** Heaviest font-weight ***/
.u-fw-900 {
  font-weight: 900;
}

/** utility classes for colors ****/

/** utility classes for main background color ****/
.u-background-main {
  background-color: var(--clr-primary-100);
}

/** utility classes for secondary background color ****/
.u-background-sec {
  background-color: var(--clr-primary-200);
}

/** utility classes for buttons color ****/
.u-background-btn {
  background-color: var(--clr-primary-300);
}

/** utility classes for border color ****/
.u-border {
  background-color: var(--clr-primary-400);
}

/** utility classes for accent color ****/
.u-accent-1 {
  background-color: var(--clr-accent-100);
}

/** utility classes for secondary text color ****/
.u-text-sec {
  color: var(--clr-primary-300);
}

/** utility classes for main text color ****/
.u-text-main {
  color: var(--clr-secondary-100);
}

/** utility classes for buttons text color ****/
.u-text-btn {
  color: var(--clr-secondary-200);
}

/** utility classes for black background ****/
.u-bkd-black {
  background-color: var(--clr-secondary-100);
}

/** utility classes to show  main text color on swatches****/
.u-maintext-bkd {
  background-color: var(--clr-secondary-100);
}

/** utility classes to show  button text color on swatches****/
.u-btntext-bkd {
  background-color: var(--clr-secondary-200);
}

/****** Spacing utility classes ************** */

/* Margin classes */

.l-m-0-25 {
  margin: 0.25rem; /* 4px */
}

.l-m-0-5 {
  margin: 0.5rem; /* 8px */
}

.l-m-0-75 {
  margin: 0.75rem; /* 12px */
}

.l-m-1 {
  margin: 1rem; /* 16px */
}

.l-m-1-25 {
  margin: 1.25rem; /* 20px */
}

.l-m-1-5 {
  margin: 1.5rem; /* 24px */
}

.l-m-1-75 {
  margin: 1.75rem; /* 28px */
}

.l-m-2 {
  margin: 2rem; /* 32px */
}

.l-m-2-25 {
  margin: 2.25rem; /* 36px */
}

.l-m-2-5 {
  margin: 2.5rem; /* 40px */
}

.l-m-2-75 {
  margin: 2.75rem; /* 44px */
}

.l-m-3 {
  margin: 3rem; /* 48px */
}

.l-m-3-25 {
  margin: 3.25rem; /* 52px */
}

.l-m-3-5 {
  margin: 3.5rem; /* 56px */
}

.l-m-3-75 {
  margin: 3.75rem; /* 60px */
}

.l-m-4 {
  margin: 4rem; /* 64px */
}

.l-m-4-25 {
  margin: 4.25rem; /* 68px */
}

.l-m-4-5 {
  margin: 4.5rem; /* 72px */
}

.l-m-4-75 {
  margin: 4.75rem; /* 76px */
}

.l-m-5 {
  margin: 5rem; /* 80px */
}

.l-m-5-25 {
  margin: 5.25rem; /* 84px */
}

.l-m-5-5 {
  margin: 5.5rem; /* 88px */
}

.l-m-5-75 {
  margin: 5.75rem; /* 92px */
}

.l-m-6 {
  margin: 6rem; /* 96px */
}

.l-m-6-25 {
  margin: 6.25rem; /* 100px */
}

.l-m-6-5 {
  margin: 6.5rem; /* 104px */
}

.l-m-6-75 {
  margin: 6.75rem; /* 108px */
}

.l-m-7 {
  margin: 7rem; /* 112px */
}

.l-m-7-25 {
  margin: 7.25rem; /* 116px */
}

.l-m-7-5 {
  margin: 7.5rem; /* 120px */
}

.l-m-7-75 {
  margin: 7.75rem; /* 124px */
}

.l-m-8 {
  margin: 8rem; /* 128px */
}

.l-m-8-25 {
  margin: 8.25rem; /* 132px */
}

.l-m-8-5 {
  margin: 8.5rem; /* 136px */
}

.l-m-8-75 {
  margin: 8.75rem; /* 140px */
}

.l-m-9 {
  margin: 9rem; /* 144px */
}

.l-m-9-25 {
  margin: 9.25rem; /* 148px */
}

.l-m-9-5 {
  margin: 9.5rem; /* 152px */
}

.l-m-9-75 {
  margin: 9.75rem; /* 156px */
}

.l-m-10 {
  margin: 10rem; /* 160px */
}

/*********** Padding utility classes *****************/

.l-p-0-25 {
  padding: 0.25rem; /* 4px */
}

.l-p-0-5 {
  padding: 0.5rem; /* 8px */
}

.l-p-0-75 {
  padding: 0.75rem; /* 12px */
}

.l-p-1 {
  padding: 1rem; /* 16px */
}

.l-p-1-25 {
  padding: 1.25rem; /* 20px */
}

.l-p-1-5 {
  padding: 1.5rem; /* 24px */
}

.l-p-1-75 {
  padding: 1.75rem; /* 28px */
}

.l-p-2 {
  padding: 2rem; /* 32px */
}

.l-p-2-25 {
  padding: 2.25rem; /* 36px */
}

.l-p-2-5 {
  padding: 2.5rem; /* 40px */
}

.l-p-2-75 {
  padding: 2.75rem; /* 44px */
}

.l-p-3 {
  padding: 3rem; /* 48px */
}

.l-p-3-25 {
  padding: 3.25rem; /* 52px */
}

.l-p-3-5 {
  padding: 3.5rem; /* 56px */
}

.l-p-3-75 {
  padding: 3.75rem; /* 60px */
}

.l-p-4 {
  padding: 4rem; /* 64px */
}

.l-p-4-25 {
  padding: 4.25rem; /* 68px */
}

.l-p-4-5 {
  padding: 4.5rem; /* 72px */
}

.l-p-4-75 {
  padding: 4.75rem; /* 76px */
}

.l-p-5 {
  padding: 5rem; /* 80px */
}

.l-p-5-25 {
  padding: 5.25rem; /* 84px */
}

.l-p-5-5 {
  padding: 5.5rem; /* 88px */
}

.l-p-5-75 {
  padding: 5.75rem; /* 92px */
}

.l-p-6 {
  padding: 6rem; /* 96px */
}

.l-p-6-25 {
  padding: 6.25rem; /* 100px */
}

.l-p-6-5 {
  padding: 6.5rem; /* 104px */
}

.l-p-6-75 {
  padding: 6.75rem; /* 108px */
}

.l-p-7 {
  padding: 7rem; /* 112px */
}

.l-p-7-25 {
  padding: 7.25rem; /* 116px */
}

.l-p-7-5 {
  padding: 7.5rem; /* 120px */
}

.l-p-7-75 {
  padding: 7.75rem; /* 124px */
}

.l-p-8 {
  padding: 8rem; /* 128px */
}

.l-p-8-25 {
  padding: 8.25rem; /* 132px */
}

.l-p-8-5 {
  padding: 8.5rem; /* 136px */
}

.l-p-8-75 {
  padding: 8.75rem; /* 140px */
}

.l-p-9 {
  padding: 9rem; /* 144px */
}

.l-p-9-25 {
  padding: 9.25rem; /* 148px */
}

.l-p-9-5 {
  padding: 9.5rem; /* 152px */
}

.l-p-9-75 {
  padding: 9.75rem; /* 156px */
}

.l-p-10 {
  padding: 10rem; /* 160px */
}

/******************************************/

/************** Margin top classes **********/

.l-mt-0-25 {
  margin-top: 0.25rem; /* 4px */
}

.l-mt-0-5 {
  margin-top: 0.5rem; /* 8px */
}

.l-mt-0-75 {
  margin-top: 0.75rem; /* 12px */
}

.l-mt-1 {
  margin-top: 1rem; /* 16px */
}

.l-mt-1-25 {
  margin-top: 1.25rem; /* 20px */
}

.l-mt-1-5 {
  margin-top: 1.5rem; /* 24px */
}

.l-mt-1-75 {
  margin-top: 1.75rem; /* 28px */
}

.l-mt-2 {
  margin-top: 2rem; /* 32px */
}

.l-mt-2-25 {
  margin-top: 2.25rem; /* 36px */
}

.l-mt-2-5 {
  margin-top: 2.5rem; /* 40px */
}

.l-mt-2-75 {
  margin-top: 2.75rem; /* 44px */
}

.l-mt-3 {
  margin-top: 3rem; /* 48px */
}

.l-mt-3-5 {
  margin-top: 3.5rem; /* 56px */
}

.l-mt-4 {
  margin-top: 4rem; /* 64px */
}

.l-mt-4-5 {
  margin-top: 4.5rem; /* 72px */
}

.l-mt-5 {
  margin-top: 5rem; /* 80px */
}

.l-mt-10 {
  margin-top: 10rem;
}

/********* margin bottom classes ******/
.l-mb-0-25 {
  margin-bottom: 0.25rem; /* 4px */
}

.l-mb-0-5 {
  margin-bottom: 0.5rem; /* 8px */
}

.l-mb-0-75 {
  margin-bottom: 0.75rem; /* 12px */
}

.l-mb-1 {
  margin-bottom: 1rem; /* 16px */
}

.l-mb-1-25 {
  margin-bottom: 1.25rem; /* 20px */
}

.l-mb-1-5 {
  margin-bottom: 1.5rem; /* 24px */
}

.l-mb-1-75 {
  margin-bottom: 1.75rem; /* 28px */
}

.l-mb-2 {
  margin-bottom: 2rem; /* 32px */
}

.l-mb-2-25 {
  margin-bottom: 2.25rem; /* 36px */
}

.l-mb-2-5 {
  margin-bottom: 2.5rem; /* 40px */
}

.l-mb-2-75 {
  margin-bottom: 2.75rem; /* 44px */
}

.l-mb-3 {
  margin-bottom: 3rem; /* 48px */
}

.l-mb-3-25 {
  margin-bottom: 3.25rem; /* 52px */
}

.l-mb-3-5 {
  margin-bottom: 3.5rem; /* 56px */
}

.l-mb-3-75 {
  margin-bottom: 3.75rem; /* 60px */
}

.l-mb-4 {
  margin-bottom: 4rem; /* 64px */
}

.l-mb-4-25 {
  margin-bottom: 4.25rem; /* 68px */
}

.l-mb-4-5 {
  margin-bottom: 4.5rem; /* 72px */
}

.l-mb-4-75 {
  margin-bottom: 4.75rem; /* 76px */
}

.l-mb-5 {
  margin-bottom: 5rem; /* 80px */
}

/***** margin left classes ******/
.l-ml-0-25 {
  margin-left: 0.25rem; /* 4px */
}

.l-ml-0-5 {
  margin-left: 0.5rem; /* 8px */
}

.l-ml-0-75 {
  margin-left: 0.75rem; /* 12px */
}

.l-ml-1 {
  margin-left: 1rem; /* 16px */
}

.l-ml-1-25 {
  margin-left: 1.25rem; /* 20px */
}

.l-ml-1-5 {
  margin-left: 1.5rem; /* 24px */
}

.l-ml-1-75 {
  margin-left: 1.75rem; /* 28px */
}

.l-ml-2 {
  margin-left: 2rem; /* 32px */
}

.l-ml-2-25 {
  margin-left: 2.25rem; /* 36px */
}

.l-ml-2-5 {
  margin-left: 2.5rem; /* 40px */
}

.l-ml-2-75 {
  margin-left: 2.75rem; /* 44px */
}

.l-ml-3 {
  margin-left: 3rem; /* 48px */
}

.l-ml-3-25 {
  margin-left: 3.25rem; /* 52px */
}

.l-ml-3-5 {
  margin-left: 3.5rem; /* 56px */
}

.l-ml-3-75 {
  margin-left: 3.75rem; /* 60px */
}

.l-ml-4 {
  margin-left: 4rem; /* 64px */
}

.l-ml-4-25 {
  margin-left: 4.25rem; /* 68px */
}

.l-ml-4-5 {
  margin-left: 4.5rem; /* 72px */
}

.l-ml-4-75 {
  margin-left: 4.75rem; /* 76px */
}

.l-ml-5 {
  margin-left: 5rem; /* 80px */
}

.l-ml-10 {
  margin-left: 10rem;
}

/* Margin right utilities classes */

.l-mr-0-25 {
  margin-right: 0.25rem; /* 4px */
}

.l-mr-0-5 {
  margin-right: 0.5rem; /* 8px */
}

.l-mr-0-75 {
  margin-right: 0.75rem; /* 12px */
}

.l-mr-1 {
  margin-right: 1rem; /* 16px */
}

.l-mr-1-25 {
  margin-right: 1.25rem; /* 20px */
}

.l-mr-1-5 {
  margin-right: 1.5rem; /* 24px */
}

.l-mr-1-75 {
  margin-right: 1.75rem; /* 28px */
}

.l-mr-2 {
  margin-right: 2rem; /* 32px */
}

.l-mr-2-25 {
  margin-right: 2.25rem; /* 36px */
}

.l-mr-2-5 {
  margin-right: 2.5rem; /* 40px */
}

.l-mr-2-75 {
  margin-right: 2.75rem; /* 44px */
}

.l-mr-3 {
  margin-right: 3rem; /* 48px */
}

.l-mr-3-25 {
  margin-right: 3.25rem; /* 52px */
}

.l-mr-3-5 {
  margin-right: 3.5rem; /* 56px */
}

.l-mr-3-75 {
  margin-right: 3.75rem; /* 60px */
}

.l-mr-4 {
  margin-right: 4rem; /* 64px */
}

.l-mr-4-25 {
  margin-right: 4.25rem; /* 68px */
}

.l-mr-4-5 {
  margin-right: 4.5rem; /* 72px */
}

.l-mr-4-75 {
  margin-right: 4.75rem; /* 76px */
}

.l-mr-5 {
  margin-right: 5rem; /* 80px */
}

/*********** padding classes  ***********************/

/**** padding left utility  classes ****/
.l-pl-0-25 {
  padding-left: 0.25rem; /* 4px */
}

.l-pl-0-5 {
  padding-left: 0.5rem; /* 8px */
}

.l-pl-0-75 {
  padding-left: 0.75rem; /* 12px */
}

.l-pl-1 {
  padding-left: 1rem; /* 16px */
}

.l-pl-1-25 {
  padding-left: 1.25rem; /* 20px */
}

.l-pl-1-5 {
  padding-left: 1.5rem; /* 24px */
}

.l-pl-1-75 {
  padding-left: 1.75rem; /* 28px */
}

.l-pl-2 {
  padding-left: 2rem; /* 32px */
}

.l-pl-2-25 {
  padding-left: 2.25rem; /* 36px */
}

.l-pl-2-5 {
  padding-left: 2.5rem; /* 40px */
}

.l-pl-2-75 {
  padding-left: 2.75rem; /* 44px */
}

.l-pl-3 {
  padding-left: 3rem; /* 48px */
}

.l-pl-3-25 {
  padding-left: 3.25rem; /* 52px */
}

.l-pl-3-5 {
  padding-left: 3.5rem; /* 56px */
}

.l-pl-3-75 {
  padding-left: 3.75rem; /* 60px */
}

.l-pl-4 {
  padding-left: 4rem; /* 64px */
}

.l-pl-4-25 {
  padding-left: 4.25rem; /* 68px */
}

.l-pl-4-5 {
  padding-left: 4.5rem; /* 72px */
}

.l-pl-4-75 {
  padding-left: 4.75rem; /* 76px */
}

.l-pl-5 {
  padding-left: 5rem; /* 80px */
}

/**** padding right utility  classes ****/

.l-pr-0-25 {
  padding-right: 0.25rem; /* 4px */
}

.l-pr-0-5 {
  padding-right: 0.5rem; /* 8px */
}

.l-pr-0-75 {
  padding-right: 0.75rem; /* 12px */
}

.l-pr-1 {
  padding-right: 1rem; /* 16px */
}

.l-pr-1-25 {
  padding-right: 1.25rem; /* 20px */
}

.l-pr-1-5 {
  padding-right: 1.5rem; /* 24px */
}

.l-pr-1-75 {
  padding-right: 1.75rem; /* 28px */
}

.l-pr-2 {
  padding-right: 2rem; /* 32px */
}

.l-pr-2-25 {
  padding-right: 2.25rem; /* 36px */
}

.l-pr-2-5 {
  padding-right: 2.5rem; /* 40px */
}

.l-pr-2-75 {
  padding-right: 2.75rem; /* 44px */
}

.l-pr-3 {
  padding-right: 3rem; /* 48px */
}

.l-pr-3-25 {
  padding-right: 3.25rem; /* 52px */
}

.l-pr-3-5 {
  padding-right: 3.5rem; /* 56px */
}

.l-pr-3-75 {
  padding-right: 3.75rem; /* 60px */
}

.l-pr-4 {
  padding-right: 4rem; /* 64px */
}

.l-pr-4-25 {
  padding-right: 4.25rem; /* 68px */
}

.l-pr-4-5 {
  padding-right: 4.5rem; /* 72px */
}

.l-pr-4-75 {
  padding-right: 4.75rem; /* 76px */
}

.l-pr-5 {
  padding-right: 5rem; /* 80px */
}

/**** padding top utility  classes ****/

.l-pt-0-25 {
  padding-top: 0.25rem; /* 4px */
}

.l-pt-0-5 {
  padding-top: 0.5rem; /* 8px */
}

.l-pt-0-75 {
  padding-top: 0.75rem; /* 12px */
}

.l-pt-1 {
  padding-top: 1rem; /* 16px */
}

.l-pt-1-25 {
  padding-top: 1.25rem; /* 20px */
}

.l-pt-1-5 {
  padding-top: 1.5rem; /* 24px */
}

.l-pt-1-75 {
  padding-top: 1.75rem; /* 28px */
}

.l-pt-2 {
  padding-top: 2rem; /* 32px */
}

.l-pt-2-25 {
  padding-top: 2.25rem; /* 36px */
}

.l-pt-2-5 {
  padding-top: 2.5rem; /* 40px */
}

.l-pt-2-75 {
  padding-top: 2.75rem; /* 44px */
}

.l-pt-3 {
  padding-top: 3rem; /* 48px */
}

.l-pt-3-25 {
  padding-top: 3.25rem; /* 52px */
}

.l-pt-3-5 {
  padding-top: 3.5rem; /* 56px */
}

.l-pt-3-75 {
  padding-top: 3.75rem; /* 60px */
}

.l-pt-4 {
  padding-top: 4rem; /* 64px */
}

.l-pt-4-25 {
  padding-top: 4.25rem; /* 68px */
}

.l-pt-4-5 {
  padding-top: 4.5rem; /* 72px */
}

.l-pt-4-75 {
  padding-top: 4.75rem; /* 76px */
}

.l-pt-5 {
  padding-top: 5rem; /* 80px */
}

/**** padding bottom utility  classes ****/

.l-pb-0-25 {
  padding-bottom: 0.25rem; /* 4px */
}

.l-pb-0-5 {
  padding-bottom: 0.5rem; /* 8px */
}

.l-pb-0-75 {
  padding-bottom: 0.75rem; /* 12px */
}

.l-pb-1 {
  padding-bottom: 1rem; /* 16px */
}

.l-pb-1-25 {
  padding-bottom: 1.25rem; /* 20px */
}

.l-pb-1-5 {
  padding-bottom: 1.5rem; /* 24px */
}

.l-pb-1-75 {
  padding-bottom: 1.75rem; /* 28px */
}

.l-pb-2 {
  padding-bottom: 2rem; /* 32px */
}

.l-pb-2-25 {
  padding-bottom: 2.25rem; /* 36px */
}

.l-pb-2-5 {
  padding-bottom: 2.5rem; /* 40px */
}

.l-pb-2-75 {
  padding-bottom: 2.75rem; /* 44px */
}

.l-pb-3 {
  padding-bottom: 3rem; /* 48px */
}

.l-pb-3-25 {
  padding-bottom: 3.25rem; /* 52px */
}

.l-pb-3-5 {
  padding-bottom: 3.5rem; /* 56px */
}

.l-pb-3-75 {
  padding-bottom: 3.75rem; /* 60px */
}

.l-pb-4 {
  padding-bottom: 4rem; /* 64px */
}

.l-pb-4-25 {
  padding-bottom: 4.25rem; /* 68px */
}

.l-pb-4-5 {
  padding-bottom: 4.5rem; /* 72px */
}

.l-pb-4-75 {
  padding-bottom: 4.75rem; /* 76px */
}

.l-pb-5 {
  padding-bottom: 5rem; /* 80px */
}

/******* Horizontal padding classes **********/

.l-px-0-25 {
  padding-left: 0.25rem; /* 4px */
  padding-right: 0.25rem; /* 4px */
}

.l-px-0-5 {
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
}

.l-px-0-75 {
  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem; /* 12px */
}

.l-px-1 {
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
}

.l-px-1-25 {
  padding-left: 1.25rem; /* 20px */
  padding-right: 1.25rem; /* 20px */
}

.l-px-1-5 {
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
}

.l-px-1-75 {
  padding-left: 1.75rem; /* 28px */
  padding-right: 1.75rem; /* 28px */
}

.l-px-2 {
  padding-left: 2rem; /* 32px */
  padding-right: 2rem; /* 32px */
}

.l-px-2-25 {
  padding-left: 2.25rem; /* 36px */
  padding-right: 2.25rem; /* 36px */
}

.l-px-2-5 {
  padding-left: 2.5rem; /* 40px */
  padding-right: 2.5rem; /* 40px */
}

.l-px-2-75 {
  padding-left: 2.75rem; /* 44px */
  padding-right: 2.75rem; /* 44px */
}

.l-px-3 {
  padding-left: 3rem; /* 48px */
  padding-right: 3rem; /* 48px */
}

.l-px-3-25 {
  padding-left: 3.25rem; /* 52px */
  padding-right: 3.25rem; /* 52px */
}

.l-px-3-5 {
  padding-left: 3.5rem; /* 56px */
  padding-right: 3.5rem; /* 56px */
}

.l-px-3-75 {
  padding-left: 3.75rem; /* 60px */
  padding-right: 3.75rem; /* 60px */
}

.l-px-4 {
  padding-left: 4rem; /* 64px */
  padding-right: 4rem; /* 64px */
}

.l-px-4-25 {
  padding-left: 4.25rem; /* 68px */
  padding-right: 4.25rem; /* 68px */
}

.l-px-4-5 {
  padding-left: 4.5rem; /* 72px */
  padding-right: 4.5rem; /* 72px */
}

.l-px-4-75 {
  padding-left: 4.75rem; /* 76px */
  padding-right: 4.75rem; /* 76px */
}

.l-px-5 {
  padding-left: 5rem; /* 80px */
  padding-right: 5rem; /* 80px */
}

/******* Vertical padding classes **********/

.l-py-0-25 {
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem; /* 4px */
}

.l-py-0-5 {
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
}

.l-py-0-75 {
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
}

.l-py-1 {
  padding-top: 1rem; /* 16px */
  padding-bottom: 1rem; /* 16px */
}

.l-py-1-25 {
  padding-top: 1.25rem; /* 20px */
  padding-bottom: 1.25rem; /* 20px */
}

.l-py-1-5 {
  padding-top: 1.5rem; /* 24px */
  padding-bottom: 1.5rem; /* 24px */
}

.l-py-1-75 {
  padding-top: 1.75rem; /* 28px */
  padding-bottom: 1.75rem; /* 28px */
}

.l-py-2 {
  padding-top: 2rem; /* 32px */
  padding-bottom: 2rem; /* 32px */
}

.l-py-2-25 {
  padding-top: 2.25rem; /* 36px */
  padding-bottom: 2.25rem; /* 36px */
}

.l-py-2-5 {
  padding-top: 2.5rem; /* 40px */
  padding-bottom: 2.5rem; /* 40px */
}

.l-py-2-75 {
  padding-top: 2.75rem; /* 44px */
  padding-bottom: 2.75rem; /* 44px */
}

.l-py-3 {
  padding-top: 3rem; /* 48px */
  padding-bottom: 3rem; /* 48px */
}

.l-py-3-25 {
  padding-top: 3.25rem; /* 52px */
  padding-bottom: 3.25rem; /* 52px */
}

.l-py-3-5 {
  padding-top: 3.5rem; /* 56px */
  padding-bottom: 3.5rem; /* 56px */
}

.l-py-3-75 {
  padding-top: 3.75rem; /* 60px */
  padding-bottom: 3.75rem; /* 60px */
}

.l-py-4 {
  padding-top: 4rem; /* 64px */
  padding-bottom: 4rem; /* 64px */
}

.l-py-4-25 {
  padding-top: 4.25rem; /* 68px */
  padding-bottom: 4.25rem; /* 68px */
}

.l-py-4-5 {
  padding-top: 4.5rem; /* 72px */
  padding-bottom: 4.5rem; /* 72px */
}

.l-py-4-75 {
  padding-top: 4.75rem; /* 76px */
  padding-bottom: 4.75rem; /* 76px */
}

.l-py-5 {
  padding-top: 5rem; /* 80px */
  padding-bottom: 5rem; /* 80px */
}

/********** horizontal margin classes ********/

.l-mx-0-25 {
  margin-left: 0.25rem; /* 4px */
  margin-right: 0.25rem; /* 4px */
}

.l-mx-0-5 {
  margin-left: 0.5rem; /* 8px */
  margin-right: 0.5rem; /* 8px */
}

.l-mx-0-75 {
  margin-left: 0.75rem; /* 12px */
  margin-right: 0.75rem; /* 12px */
}

.l-mx-1 {
  margin-left: 1rem; /* 16px */
  margin-right: 1rem; /* 16px */
}

.l-mx-1-25 {
  margin-left: 1.25rem; /* 20px */
  margin-right: 1.25rem; /* 20px */
}

.l-mx-1-5 {
  margin-left: 1.5rem; /* 24px */
  margin-right: 1.5rem; /* 24px */
}

.l-mx-1-75 {
  margin-left: 1.75rem; /* 28px */
  margin-right: 1.75rem; /* 28px */
}

.l-mx-2 {
  margin-left: 2rem; /* 32px */
  margin-right: 2rem; /* 32px */
}

.l-mx-2-25 {
  margin-left: 2.25rem; /* 36px */
  margin-right: 2.25rem; /* 36px */
}

.l-mx-2-5 {
  margin-left: 2.5rem; /* 40px */
  margin-right: 2.5rem; /* 40px */
}

.l-mx-2-75 {
  margin-left: 2.75rem; /* 44px */
  margin-right: 2.75rem; /* 44px */
}

.l-mx-3 {
  margin-left: 3rem; /* 48px */
  margin-right: 3rem; /* 48px */
}

.l-mx-3-25 {
  margin-left: 3.25rem; /* 52px */
  margin-right: 3.25rem; /* 52px */
}

.l-mx-3-5 {
  margin-left: 3.5rem; /* 56px */
  margin-right: 3.5rem; /* 56px */
}

.l-mx-3-75 {
  margin-left: 3.75rem; /* 60px */
  margin-right: 3.75rem; /* 60px */
}

.l-mx-4 {
  margin-left: 4rem; /* 64px */
  margin-right: 4rem; /* 64px */
}

.l-mx-4-25 {
  margin-left: 4.25rem; /* 68px */
  margin-right: 4.25rem; /* 68px */
}

.l-mx-4-5 {
  margin-left: 4.5rem; /* 72px */
  margin-right: 4.5rem; /* 72px */
}

.l-mx-4-75 {
  margin-left: 4.75rem; /* 76px */
  margin-right: 4.75rem; /* 76px */
}

.l-mx-5 {
  margin-left: 5rem; /* 80px */
  margin-right: 5rem; /* 80px */
}

/********** Vertical margin classes ********/

.l-my-0-25 {
  margin-top: 0.25rem; /* 4px */
  margin-bottom: 0.25rem; /* 4px */
}

.l-my-0-5 {
  margin-top: 0.5rem; /* 8px */
  margin-bottom: 0.5rem; /* 8px */
}

.l-my-0-75 {
  margin-top: 0.75rem; /* 12px */
  margin-bottom: 0.75rem; /* 12px */
}

.l-my-1 {
  margin-top: 1rem; /* 16px */
  margin-bottom: 1rem; /* 16px */
}

.l-my-1-25 {
  margin-top: 1.25rem; /* 20px */
  margin-bottom: 1.25rem; /* 20px */
}

.l-my-1-5 {
  margin-top: 1.5rem; /* 24px */
  margin-bottom: 1.5rem; /* 24px */
}

.l-my-1-75 {
  margin-top: 1.75rem; /* 28px */
  margin-bottom: 1.75rem; /* 28px */
}

.l-my-2 {
  margin-top: 2rem; /* 32px */
  margin-bottom: 2rem; /* 32px */
}

.l-my-2-25 {
  margin-top: 2.25rem; /* 36px */
  margin-bottom: 2.25rem; /* 36px */
}

.l-my-2-5 {
  margin-top: 2.5rem; /* 40px */
  margin-bottom: 2.5rem; /* 40px */
}

.l-my-2-75 {
  margin-top: 2.75rem; /* 44px */
  margin-bottom: 2.75rem; /* 44px */
}

.l-my-3 {
  margin-top: 3rem; /* 48px */
  margin-bottom: 3rem; /* 48px */
}

.l-my-3-25 {
  margin-top: 3.25rem; /* 52px */
  margin-bottom: 3.25rem; /* 52px */
}

.l-my-3-5 {
  margin-top: 3.5rem; /* 56px */
  margin-bottom: 3.5rem; /* 56px */
}

.l-my-3-75 {
  margin-top: 3.75rem; /* 60px */
  margin-bottom: 3.75rem; /* 60px */
}

.l-my-4 {
  margin-top: 4rem; /* 64px */
  margin-bottom: 4rem; /* 64px */
}

.l-my-4-25 {
  margin-top: 4.25rem; /* 68px */
  margin-bottom: 4.25rem; /* 68px */
}

.l-my-4-5 {
  margin-top: 4.5rem; /* 72px */
  margin-bottom: 4.5rem; /* 72px */
}

.l-my-4-75 {
  margin-top: 4.75rem; /* 76px */
  margin-bottom: 4.75rem; /* 76px */
}

.l-my-5 {
  margin-top: 5rem; /* 80px */
  margin-bottom: 5rem; /* 80px */
}

/************ Add flex utility classes ************/
/* Flex Container */
.l-flex {
  display: flex; /* Make the container a flex container */
}

/* Flex Direction */
.u-row {
  flex-direction: row; /* Arrange flex items horizontally */
}

.u-col {
  flex-direction: column; /* Arrange flex items vertically */
}

.u-col-rev {
  flex-direction: column-reverse; /* Arrange flex items vertically */
}

/* Flex Wrap */
.u-wrap {
  flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
}

.u-nowrap {
  flex-wrap: nowrap; /* Prevent flex items from wrapping */
}

.u-wrap-reverse {
  flex-wrap: wrap-reverse; /* Reverse the wrapping direction */
}

/* Justify Content */
.u-justify-start {
  justify-content: flex-start; /* Align flex items to the start of the flex container */
}

.u-justify-end {
  justify-content: flex-end; /* Align flex items to the end of the flex container */
}

.u-justify-center {
  justify-content: center; /* Center align flex items along the main axis */
}

.u-justify-between {
  justify-content: space-between; /* Distribute flex items evenly with space between */
}

.u-justify-around {
  justify-content: space-around; /* Distribute flex items evenly with space around */
}

/* Align Items */
.u-align-start {
  align-items: flex-start; /* Align flex items to the start of the cross axis */
}

.u-align-end {
  align-items: flex-end; /* Align flex items to the end of the cross axis */
}

.u-align-center {
  align-items: center; /* Center align flex items along the cross axis */
}

.u-align-baseline {
  align-items: baseline; /* Align flex items to their baseline */
}

.u-align-stretch {
  align-items: stretch; /* Stretch flex items to fill the container along the cross axis */
}

/* Align Content */
.u-align-start {
  align-content: flex-start; /* Align content to the start of the cross axis */
}

.u-align-end {
  align-content: flex-end; /* Align content to the end of the cross axis */
}

.u-align-center {
  align-content: center; /* Center align content along the cross axis */
}

.u-align-between {
  align-content: space-between; /* Distribute content evenly with space between */
}

.u-align-around {
  align-content: space-around; /* Distribute content evenly with space around */
}

.u-align-stretch {
  align-content: stretch; /* Stretch content to fill the container along the cross axis */
}

/* Align Self */
.u-align-self-auto {
  align-self: auto; /* Reset alignment for individual flex items */
}

.u-align-self-start {
  align-self: flex-start; /* Align individual flex items to the start of the cross axis */
}

.u-align-self-end {
  align-self: flex-end; /* Align individual flex items to the end of the cross axis */
}

.u-align-self-center {
  align-self: center; /* Center align individual flex items along the cross axis */
}

.u-align-self-baseline {
  align-self: baseline; /* Align individual flex items to their baseline */
}

.u-align-self-stretch {
  align-self: stretch; /* Stretch individual flex items to fill the container along the cross axis */
}

/* Flex Grow and Shrink */
.u-grow-0 {
  flex-grow: 0; /* Prevent flex items from growing */
}

.u-grow-1 {
  flex-grow: 1; /* Allow flex items to grow to fill available space */
}

.u-shrink-0 {
  flex-shrink: 0; /* Prevent flex items from shrinking */
}

.u-shrink-1 {
  flex-shrink: 1; /* Allow flex items to shrink if necessary */
}

/*********** Grid classes ***************/

/* Grid Container */
.l-grid {
  display: grid; /* Make the container a grid container */
}

/* Grid Columns */
.u-cols-auto {
  grid-template-columns: auto; /* Automatically size columns based on content */
}

.u-cols-fr {
  grid-template-columns: repeat(
    auto-fit,
    minmax(0, 1fr)
  ); /* Fluidly size columns to fill available space */
}

/* Grid Rows */
.u-rows-auto {
  grid-template-rows: auto; /* Automatically size rows based on content */
}

.u-rows-fr {
  grid-template-rows: repeat(
    auto-fit,
    minmax(0, 1fr)
  ); /* Fluidly size rows to fill available space */
}

/* Grid Gap */
.u-gap-0 {
  gap: 0; /* No gap between grid items */
}

.u-gap-1 {
  gap: 0.25rem; /* 4px gap between grid items */
}

.u-gap-2 {
  gap: 0.5rem; /* 8px gap between grid items */
}

.u-gap-3 {
  gap: 0.75rem; /* 12px gap between grid items */
}

.u-gap-4 {
  gap: 1rem; /* 16px gap between grid items */
}

.u-gap-5 {
  gap: 1.25rem; /* 20px gap between grid items */
}

/* Grid Gap X */
.u-gap-x-0 {
  column-gap: 0; /* No horizontal gap between grid columns */
}

.u-gap-x-1 {
  column-gap: 0.25rem; /* 4px horizontal gap between grid columns */
}

.u-gap-x-2 {
  column-gap: 0.5rem; /* 8px horizontal gap between grid columns */
}

.u-gap-x-3 {
  column-gap: 0.75rem; /* 12px horizontal gap between grid columns */
}

.u-gap-x-4 {
  column-gap: 1rem; /* 16px horizontal gap between grid columns */
}

.u-gap-x-5 {
  column-gap: 1.25rem; /* 20px horizontal gap between grid columns */
}

/* Grid Gap Y */
.u-gap-y-0 {
  row-gap: 0; /* No vertical gap between grid rows */
}

.u-gap-y-1 {
  row-gap: 0.25rem; /* 4px vertical gap between grid rows */
}

.u-gap-y-2 {
  row-gap: 0.5rem; /* 8px vertical gap between grid rows */
}

.u-gap-y-3 {
  row-gap: 0.75rem; /* 12px vertical gap between grid rows */
}

.u-gap-y-4 {
  row-gap: 1rem; /* 16px vertical gap between grid rows */
}

.u-gap-y-5 {
  row-gap: 1.25rem; /* 20px vertical gap between grid rows */
}

/*********** container classes *****************/

/* Mobile-first approach */
.l-container,
.l-container-fluid {
  max-width: 100%; /* Default to full width on mobile */
  margin: 100px auto 0px auto;
}

/* Centered container */
.l-container-centered {
  margin: 0 auto; /* Center the container horizontally */
}

/* Constrained width container */
.l-container-sm {
  max-width: 576px; /* Constrained width for small devices */
}

.l-container-md {
  max-width: 768px; /* Constrained width for medium devices */
}

/* Set the maximum width of elements to 100% of their container */
.l-max-width {
  max-width: 100%;
}

/* Set the maximum width of elements to 700px */
.l-max-width-700 {
  max-width: 700px;
}

/* Set the maximum width of elements to 1250px */
.l-max-width-1250 {
  max-width: 1250px;
}

/* Set the maximum width of elements to 1600px */
.l-max-width-1600 {
  max-width: 1600px;
}

/* Set the width of elements to 100% of their container */
.l-full-width {
  width: 100%;
}

/* Set the width of elements to 50% of their container */
.l-full-width-50 {
  width: 50%;
}

/* Set the width of elements to 75% of their container */
.l-full-width-75 {
  width: 75%;
}
/* Media query for desktop */
@media (min-width: 700px) {
  .l-container-fluid {
    max-width: 100%; /* Reset to full width on desktop */
  }

  .l-tips__accordion {
    display: none;
  }

  .l-container {
    max-width: 1600px;
    margin: 100px auto 0px auto;
  }

  .l-container-lg {
    max-width: 932px; /* Constrained width for large devices */
    margin: 0 auto;
  }

  .l-container__lgout {
    max-width: 1200px; /* Constrained width for large devices */
    margin: 0px auto 0px auto;
    padding-top: 80px;
  }

  .l-container-xl {
    max-width: 1200px; /* Constrained width for extra-large devices */
  }
}

/* Styling for a container with spacing */
.l-spacingContainer {
  /* Set the width and height */
  width: 300px;
  height: auto;
  /* Add border */
  border: 3px solid var(--clr-primary-400);
  /* Add border radius for rounded corners */
  border-radius: 20px;
  /* Add padding inside the container */
  padding: 20px;
}

/* Styling for individual div elements inside the container */
.l-spacingContainer > div {
  /* Add a bottom border to separate each div */
  border-bottom: 2px solid var(--clr-primary-400);
  /* Add margin to create spacing between div elements */
  margin: 10px 0px;
}

.l-smContainer {
  /* Set the width and height */
  width: 400px;
  height: auto;
  /* Add border */
  border: 3px solid var(--clr-primary-400);
  /* Add border radius for rounded corners */
  border-radius: 20px;
  /* Add padding inside the container */
  padding: 20px;
}

/* Styling for individual div elements inside the container */
.l-smContainer > div {
  /* Add a bottom border to separate each div */
  border-bottom: 2px solid var(--clr-primary-400);
  /* Add margin to create spacing between div elements */
  margin: 10px 0px;
}

/**** height classes ***/

.h-100 {
  height: 100px;
}

/***** width classes */
.w-full {
  width: 100%;
}

.w-60 {
  max-width: 60ch;
}
/*** position classes ***/

.u-pos-fixed {
  position: fixed;
}

/**** miscellaneous utility classes ****/

.u-center {
  text-align: center;
}

.u-transparent {
  background: rgba(14, 15, 14, 0.5);
}

/******/

@media screen and (min-width: 1200px) {
  .l-lg-ml-2 {
    margin-left: 2rem; /* 32px */
  }
}

/**********/

ul.l-carousel__slides {
  display: block;
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.l-carousel__slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.l-carousel__slides input {
  display: none;
}

.l-slide-container {
  display: block;
  z-index: -999;
}

.c-slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  z-index: -999;
}

.c-slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.c-carousel__controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.c-carousel__controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.c-slide-image:hover + .c-carousel__controls label {
  opacity: 0.5;
}

.c-carousel__controls label:hover {
  opacity: 1;
}

.c-carousel__controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.c-carousel__controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.c-carousel__dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.c-carousel__dots .c-carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

.l-carousel__slides input:checked + .l-slide-container .c-slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
.l-carousel {
  z-index: -999;
}

.l-carousel__slides
  input:checked
  + .l-slide-container
  .c-carousel__controls
  label {
  display: block;
}

.l-carousel__slides input#img-1:checked ~ .c-carousel__dots label#img-dot-1,
.l-carousel__slides input#img-2:checked ~ .c-carousel__dots label#img-dot-2,
.l-carousel__slides input#img-3:checked ~ .c-carousel__dots label#img-dot-3,
.l-carousel__slides input#img-4:checked ~ .c-carousel__dots label#img-dot-4,
.l-carousel__slides input#img-5:checked ~ .c-carousel__dots label#img-dot-5,
.l-carousel__slides input#img-6:checked ~ .c-carousel__dots label#img-dot-6 {
  opacity: 1;
}

.l-carousel__slides input:checked + .l-slide-container .nav label {
  display: block;
}

.c-slide-image img {
  opacity: 0.5;
  z-index: -1;
}

.c-heading1,
.c-heading2 {
  z-index: 999;
  color: var(--clr-primary-300);
}

.c-heading1 {
  font-size: 5rem;
  font-style: italic;
  margin-bottom: 3rem;
}
/******** products *********/

.boxes {
  display: flex;
  width: calc(100% - 20px);
  padding: 50px;
  padding-right: 30px;
  max-width: 1260px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.l-tipsSection {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 50px;
}

@media only screen and (max-width: 700px) {
  .boxes {
    padding: 20px;
    padding-right: 0;
  }
  .l-tipsSection {
    display: none;
  }

  /*** Tips accordion ****/

  .l-tips__accordion {
    display: flex;
    flex-direction: column;
    width: 85vw;
    min-height: 95vh;
    margin: auto;
    justify-content: center;
  }

  .l-tips__accordion details {
    width: 100%;
  }

  .l-tips__accordion details + details {
    margin-top: 10px;
  }

  .l-tips__accordion details p {
    margin-top: -13px;
    margin-bottom: 0px;
    border: 3px solid #000;
    padding: 20px 10px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    min-height: 27px;
  }

  .l-tips__accordion details > summary::-webkit-details-marker {
    display: none;
  }

  .l-tips__accordion summary {
    position: relative;
    padding: 12px 10px;
    padding-left: 52px;
    border: 3px solid #000;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 250ms;
  }

  .l-tips__accordion summary:hover {
    background-color: #f6f6f6;
  }

  .l-tips__accordion summary:before {
    content: "⏵";
    position: absolute;
    left: 10px;
    top: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
  }

  .l-tips__accordion details[open] summary {
    background-color: #eee;
    border-radius: 10px 10px 0px 0px;
  }

  .l-tips__accordion details[open] summary:before {
    content: "⏷";
  }
}
.boxes .box {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  margin: 0 20px 20px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  opacity: 0.85;
  transition: opacity 0.5s;
  border-radius: 20px;
}
.boxes .box:hover {
  opacity: 1;
}
.boxes .box .image {
  background: #69d570;
  background: linear-gradient(
    326deg,
    rgba(105, 213, 112, 1) 0%,
    rgba(52, 141, 235, 1) 100%
  );
  width: 100%;
  height: 300px;

  cursor: pointer;
}
.boxes .box .content-wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.boxes .box .content-wrapper h3 {
  font-weight: 100;
  font-size: 26px;
  margin-top: 0;
  cursor: pointer;
}
.boxes .box .content-wrapper p {
  flex-grow: 1;
  font-size: 19px;
  line-height: 24px;
  margin-top: 0;
}
.boxes .box .content-wrapper a {
  font-weight: 800;
  color: #000;
  font-size: 19px;
  transition: color 0.5s;
  text-decoration: none;
}
.boxes .box .content-wrapper a:hover {
  color: #888;
}

/************* Testimonails **/

.u-page-width {
  max-width: 1200px;
}
.u-text-left {
  text-align: left;
}
.l-quotes {
  display: flex;
  padding: 5rem 2rem;
  align-items: center;
}

.l-quotes__slide {
  width: 33%;
  padding: 3rem;
  background-color: white;
  opacity: 0.4;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px #d5d5d5;
  line-height: 1.75;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
  outline: none;
}

.l-quotes__slide--active {
  transform: scale(1.2);
  z-index: 10;
  opacity: 1;
  border: none;
  box-shadow: 1px 0px 10px 5px #eaeaea;
  color: #222222;
}
blockquote {
  margin: 0;
}
cite {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
cite::before {
  content: "\2014 \0020";
}
.icon {
  width: 25px;
  height: 25px;
  fill: #1a73e8;
}

/******* Contact *********/

.l-clearfix:before,
.l-clearfix:after {
  display: table;
  content: "";
}
.l-clearfix:after {
  clear: both;
}

body {
  background: #ffffff;
  color: #333;
  font-weight: normal;
  font-size: 1em;
  font-family: "Roboto", Arial, sans-serif;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none;
}
::-moz-placeholder {
  color: #666;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #666;
  font-weight: 300;
}

/* Contact Form Styling */
.l-container {
  padding: 0 50px 70px;
}
.l-textcenter {
  text-align: center;
}
.l-section1 {
  text-align: center;
  display: table;
  width: 100%;
}
.l-section1 .shtext {
  display: block;
  margin-top: 20px;
}
.l-section1 .c-seperator {
  border-bottom: 1px solid #a2a2a2;
  width: 35px;
  display: inline-block;
  margin: 20px;
}

.l-section1 h1 {
  font-size: 40px;
  color: var(--clr-primary-300);
  font-weight: normal;
}

.l-section2 {
  width: 1200px;
  margin: 25px auto;
}
.l-section2 .l-col2 {
  width: 48.71%;
}
.l-section2 .l-col2.l-first {
  float: left;
}
.l-section2 .l-col2.l-last {
  float: right;
}
.l-section2 .l-col2.l-column2 {
  padding: 0 30px;
}
.l-section2 span.c-collig {
  color: #a2a2a2;
  margin-right: 10px;
  display: inline-block;
}
.l-section2 .l-sec2addr {
  display: block;
  line-height: 26px;
}
.l-section2 .l-sec2addr p:first-child {
  margin-bottom: 10px;
}
.l-section2 .l-sec2contactform input[type="text"],
.l-section2 .l-sec2contactform input[type="email"],
.l-section2 .l-sec2contactform textarea {
  padding: 18px;
  border: 0;
  background: #ededed;
  margin: 7px 0;
}
.l-section2 .l-sec2contactform textarea {
  width: 100%;
  display: block;
  color: #666;
  resize: none;
}
.l-section2 .l-sec2contactform input[type="submit"] {
  padding: 15px 40px;
  color: #fff;
  border: 0;
  background: var(--clr-primary-300);
  font-size: 16px;
  text-transform: uppercase;
  margin: 7px 0;
  cursor: pointer;
}
.l-section2 .l-sec2contactform h3 {
  font-weight: normal;
  margin: 20px 0;
  margin-top: 30px;
  border-bottom: 1px solid var(--clr-primary-100);
  padding-bottom: 19px;
  color: var(--clr-primary-300);
}

/* @media querries */

@media only screen and (max-width: 1266px) {
  .l-section2 {
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .c-slide__text {
    margin-top: -60%;
  }
  .l-container {
    padding: 0 30px 70px;
  }
  .l-section2 .l-col2 {
    width: 100%;
    display: block;
  }
  .l-section2 .col2.first {
    margin-bottom: 10px;
  }
  .l-section2 .col2.column2 {
    padding: 0;
  }
  body .sec2map {
    height: 250px !important;
  }
}
@media only screen and (max-width: 768px) {
  .l-section2 .l-sec2addr {
    font-size: 14px;
  }
  .l-section2 .l-sec2contactform h3 {
    font-size: 16px;
  }
  .l-section2 .l-sec2contactform input[type="text"],
  .l-section2 .l-sec2contactform input[type="email"],
  .l-section2 .l-sec2contactform textarea {
    padding: 10px;
    margin: 3px 0;
  }
  .l-section2 .l-sec2contactform input[type="submit"] {
    padding: 10px 30px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 420px) {
  .l-section1 h1 {
    font-size: 28px;
  }
}

.c-map {
  width: 100%;
  height: 550px;
}

/***** footer ********/

.l-footer__container {
  background-color: #151515;
  padding: 80px 0;
}

.l-footer__container {
  margin: auto;
}

.l-footer__group {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.l-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-footer__col ul {
  list-style: none;
}

.l-footer__col {
  width: 25%;
  padding: 0 15px;
}

.l-footer__col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.l-footer__col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  width: 50px;
  height: 2px;
}

.l-footer__col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.l-footer__col ul li a {
  color: #ddd;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.l-footer__col ul li a:hover {
  color: #fff;
  padding-left: 7px;
}

.l-socialLinks div {
  display: flex;
}
.l-footer__col .l-socialLinks a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}

.l-socialLinks a img {
  width: 40px;
  height: 40px;
}
.l-footer__col .l-socialLinks a:hover {
  color: #151515;
  background-color: #fff;
}

/**** products **/
.l-product__container {
  display: flex;
  flex-direction: column;
}
.l-product {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  column-gap: 20px;
  row-gap: 20px;
}

.l-product__image > img {
  width: 400px;
  height: 400px;
}

/******* plants ****/

.l-plants__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.l-plants__list li {
  display: flex;
  padding: 15px;
  flex-direction: column;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  background-color: #fff;
  border-left: 4px solid #fff;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
}
.l-plants__list li .title {
  font-weight: bold;
  font-size: 18px;
  position: relative;
  z-index: 1;
  line-height: 24px;
}
.l-plants__list li .subtitle {
  position: relative;
  z-index: 1;
  font-size: 14px;
  opacity: 0.7;
}

.l-plants__list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: width 0.3s ease;
}
.l-plants__list li:hover {
  color: #fff;
}
.l-plants__list li:hover:after {
  width: 100%;
  transition: width 0.3s ease;
}

.l-plants__list li:after {
  background: var(--clr-primary-300);
}

.l-plants__list li {
  border-left-color: var(--clr-primary-300);
}

/*********** Products */

.l-tipsSection__card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 0;
  color: #fff;
}
.l-tipsSection__card .poster {
  position: relative;
  overflow: hidden;
}
.l-tipsSection__card .poster::before {
  content: "";
  position: absolute;
  bottom: -180px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--clr-primary-300) 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}
.l-tipsSection__card:hover .poster::before {
  bottom: 0px;
}
.l-tipsSection__card .poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.l-tipsSection__card:hover .poster img {
  transform: translateY(-50px);
  filter: blur(5px);
}
.l-tipsSection__card .l-tipsSection__details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  width: 100%;
  bottom: -120px;
  transition: 0.5s;
  padding: 10px;
  z-index: 999;
  transition: 0.5s;
}
.l-tipsSection__card:hover .l-tipsSection__details {
  bottom: 0;
}
.l-tipsSection__card .c-tags span {
  border-radius: 5px;
  background: var(--clr-primary-300);
  padding: 4px;
  margin: 0 5px;
  margin-top: -2rem;
}
.l-tipsSection__card .l-tipsSection__details .c-tags span:nth-child(2) {
  background: orange;
}

.l-tips__heading {
  position: absolute;
  margin: 12rem 2rem 0rem 3rem;
  font-size: 2rem;
}

.l-tipsSection__card .c-tags {
  margin-bottom: 21px;
}

.c-menu a {
  color: white;
  font-weight: bolder;
}

.c-slide__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: -30%;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.c-button__box {
  width: 250px;
  height: 150px;

  margin: 10px;

  z-index: 1000;
  cursor: pointer;
  align-self: center;
  margin-top: 30px;
}

.c-button__span {
  background: transparent;
  color: var(--clr-primary-300);
  border: 2px solid var(--clr-primary-300);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: color 400ms;
  z-index: 999;
  cursor: pointer;
}

.c-button__span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-primary-300);
  z-index: -1;
  transition: transform 400ms ease-out;
  transform: scaleX(0);
  transform-origin: left;
}

.c-button__span:hover::before {
  transform: scaleX(1);
}

.c-button__span:hover {
  color: #fff;
}
button {
  width: 200px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 1000px) {
  .c-slide__text {
    margin-top: -60%;
  }
  .c-slide__text .c-heading1,
  .c-slide__text .c-heading2 {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .l-footer__col {
    width: 50%;
    margin-bottom: 30px;
  }

  .l-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }
}

@media (max-width: 574px) {
  .l-footer__col {
    width: 100%;
  }

  .c-slide__text {
    margin-top: -100%;
  }
}
