/***** Variables ******/

:root {
  --clr-primary: black;
  --clr-secondary: #5a5a5a;
  --clr-accent: #5a5a5a;
  --clr-light: #c4c3c3;
  --clr-white: white;
  --clr-lighter: #ddd;
}

/******** Resets ************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
img {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
}
